.user-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__module-title {
    font-size: 0.875rem;
    color: #888;
    margin: 0;
  }

  &__title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__btn {
    height: 40px;
  }

  &__filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__filter {
    width: 250px;
  }
}
